<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>sitename</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="seller">
      <p>판매하실 물품이 있는 페이지의 주소를 입력하세요.</p>
      <p>예) https://blog.naver.com/s486s012</p>
      <input type="text" name="url" class="form-control" id="">
      <button type="submit" class="btn btn-default">다음</button>
    </div>
</body>
</html>