.header {
    background-color: #517881;
    margin-bottom: 20px;
}

.header::after {
    content: "";
    display: table;
    clear: both;
}
.header__logo {
    float: left;
    padding: 15px 20px;
    color: #fff;
}

.header__logo::after {
    content: "";
    display: table;
    clear: both;
}

.header nav {
    float: right;
}

.header nav::after {
    content: "";
    display: table;
    clear: both;
}

.header nav ul li {
    display: inline-block;
    padding: 15px 20px;
}

.header a:link, a:hover, a:visited {
    text-decoration: none;
    color: #fff;
}

/* .header::after {
    content: "";
    display: table;
    clear: both;
} */
