.blog-box {
    width: 100%;
    height: 90vh;
}

/* .buy article {
    width: 70%;
    float: left;
}

.buy aside {
    width: 20%;
    max-width: 200px;
    margin-top: 35vh;
    float: right;
}
 */
.amount {
    width: 50px;
    text-align: right;
    float: right;
}

.char {
    float: right;
}

/* .buy aside input {
    margin-bottom: 10px;
} */