.blog-box {
    width: 100%;
    height: 90vh;
}

.buy-input input.form-control {
	margin-bottom: 20px;
}
/* .buy article {
    width: 70%;
    float: left;
}

.buy aside {
    width: 20%;
    max-width: 200px;
    margin-top: 35vh;
    float: right;
}
 */

.amount-box {
	width: 60px;
	height: calc(1.5em + .5rem + 1px);
	display: flex;
	border: 1px solid #ced4da;
}

#amount {
    width: 40px;
	flex:1;
	border: 0;
	text-align: center;
	color: #495057;
}

.amount-btn-box {
	border-left: 1px solid #ced4da;
	flex:1;
	display: flex;
	flex-direction: column;
}

.amount-btn-box button {
	flex:1;
	height: calc((1.5em + .5rem) / 2);
	background-color: #fff;
	border: 0;
	padding: 0;
	display: inline-flex;
    justify-content: center;
  	color: #637383;
}



.amount-btn-box #up {
	height: calc((1.5em + .5rem) / 2 + 1px);
	border-bottom: 1px solid #ced4da;
}

.amount-btn-box button div {
	height: 100%;
}
/* 
.amount-box {
	height: calc(1.5em + .5rem + 2px);
}



.amount-up {
	height: calc((1.5em + .5rem - 1px) / 2 + 1px);
	width: calc((1.5em + .5rem - 1px) / 2);
	
}
 */
.char {
    float: right;
}

/* .buy aside input {
    margin-bottom: 10px;
} */