body {
    /* background-color: #d3f8e9; */
    /* color: white;
    background: url('../image/background.jpg') no-repeat center center fixed;
    background-size: cover; 
    width: 100%;
    height: 100%;*/
    margin: 0 auto;
}

.main {
    width: 100%;
    text-align: center;
}

.logo {
    margin: 30vh auto 0 auto;
}

.login-box {
    /* width: 50%;
    height: 20%;
    max-width: 500px;
    max-height: 300px; */
    margin: 40px auto;
}

.btn {
    width: 150px;
}

.select-btn a:first-child {
    margin-right: 20px;
}

/* .select-btn {
	display
} */