.seller p {
	text-align: center;
}

.seller {
	margin-top: 35vh;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 80%;
	min-width: 300px;
	max-width: 750px;
}

.b-next {
	width: 10vw;
	max-width: 80px;
	min-width: 50px;
}